.listItems-container {
    /* background-color: cadetblue; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .listItems-container {
        flex-direction: column;

    }
}